<footer class="absolute w-full bottom-0">
    <div class="p-4 mt-6 text-center border-t-2 border-slate-700 bg-white text-lg text-slate-500 font-mono underline">
        Copyright &copy; Jakub Kliszko, WebDev Project 1
    </div>
</footer>