<header class="bg-slate-100 h-50">
    <div class="text-center bg-banner bg-cover bg-no-repeat bg-center">
        <h1 class="text-gray-700 text-5xl uppercase text-center p-4 mb-4 inline-block border-b-4 border-green-700 tracking-widest">Kliszek <br> photo browser</h1>
        <!-- <img class="opacity-40 absolute max-h-60 top-0 left-0 overflow-hidden" src="img/banner.jpg" alt="banner"> -->
    </div>
</header>