<nav class="block bg-gray-700 text-white md:sticky top-0 z-10">
    <ul class="font-josefin text-xl md:flex justify-around text-center">
        <li class="navli">
            <a class="inline-block h-full w-full p-4 <% if(page=="home") { %>pb-2 border-b-8 border-green-700 <% } %>" href="/">
                <span>Home</span>
            </a>
        </li>
        <li class="navli">
            <a class="inline-block h-full w-full p-4  <% if(page=="about") { %>pb-2 border-b-8 border-green-700 <% } %>" href="/about">
                <span>About</span>
            </a>
        </li>
        <li class="navli">
            <a class="inline-block h-full w-full p-4  <% if(page=="contact") { %>pb-2 border-b-8 border-green-700 <% } %>" href="/contact">
                <span>Contact</span>
            </a>
        </li>
        <li class="navli">
            <a class="inline-block h-full w-full p-4  <% if(page=="add") { %>pb-2 border-b-8 border-green-700 <% } %>" href="/photo/add">
                <span>Add photos</span>
            </a>
        </li>
    </ul>
</nav>