<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body class="bg-slate-50">

    <div class="relative min-h-screen pb-20" id="wrapper">
        
        <%- include('./partials/header.ejs') %>
        <%- include('./partials/nav.ejs') %>

        <div class="m-20 pb-8 border-l-8 border-green-600">
            <h1 class="font-semibold inline-block tracking-wider p-5 ml-8 mb-10 text-5xl border-b-2 border-slate-200">500 error</h1>
            <h3 class="ml-20 text-xl">Sorry, connection with the database could not be estabilished!</h3>
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

</body>
</html>