<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body class="bg-slate-50">

    <div class="relative min-h-screen pb-20" id="wrapper">
        
        <%- include('./partials/header.ejs') %>
        <%- include('./partials/nav.ejs') %>

        <main>
            <!-- <div class="ml-20 mt-20 pb-8 border-l-8 border-green-600">
                <h1 class="font-semibold inline-block tracking-wider p-5 ml-8 text-5xl border-b-2 border-slate-200">Recent photos:</h1>
            </div> -->
            <div class="m-20 pb-8 border-l-8 border-green-600">
                <h1 class="font-semibold inline-block tracking-wider p-5 ml-8 mb-10 text-5xl border-b-2 border-slate-200">Browse photos:</h1>
                <div class="bg-slate-100 p-5 rounded-tr-xl text-center border-r-4 border-slate-300">
                    <h1 class="font-rubik font-light inline-block tracking-wider px-20 ml-20 text-2xl border-b-2 border-slate-200">Most Recent:</h1>
                </div>
                <hr>
                <div class="bg-blue-50 pl-2 border-r-4 border-slate-300 grid md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div class="card">
                        <img class="mx-auto max-h-3/4 mb-6" src="https://zakupy.lewiatan.pl/czersk-kosciuszki/3023-thickbox_default/stock-prestige-wodka-700-ml.jpg" alt="stock photo">
                        <h6 class="text-lg">Stock photo</h6>
                        <p>this is a stock photo</p>
                    </div>
                    <div class="card">
                        <img class="mx-auto max-h-3/4 mb-6" src="https://zakupy.lewiatan.pl/czersk-kosciuszki/3023-thickbox_default/stock-prestige-wodka-700-ml.jpg" alt="stock photo">
                        <h6 class="text-lg">Stock photo</h6>
                        <p>this is a stock photo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum magnam nisi reiciendis vitae tempora vel repellat accusamus officiis eius, est architecto inventore, labore aut incidunt illo quae esse? Aperiam, illum.</p>
                    </div>
                    <div class="card">
                        <img class="mx-auto max-h-3/4 mb-6" src="https://zakupy.lewiatan.pl/czersk-kosciuszki/3023-thickbox_default/stock-prestige-wodka-700-ml.jpg" alt="stock photo">
                        <h6 class="text-lg">Stock photo</h6>
                        <p>this is a stock photo</p>
                    </div>
                </div>
            </div>
            

        </main>

        <%- include('./partials/footer.ejs') %>
    </div>

</body>
</html>