@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-64pr{
    max-height: 64%;
}

.gap-1\/5{
    gap: 20%;
}

.card{
@apply inline-block bg-white font-josefin col-span-1 m-10 p-5 max-w-xl cursor-pointer shadow-gray-600 shadow-lg rounded-lg hover:shadow-gray-600 hover:shadow-2xl hover:-translate-y-1 hover:translate-x-1 border-l-8 hover:border-orange-600 transition duration-100 whitespace-nowrap max-h-96
}

.card:hover > h6{
    text-decoration: underline;
}

.navli{
@apply flex-grow pt-1 hover:bg-gray-400 hover:underline hover:font-semibold transition duration-200 ease-out
}

.form-label{
@apply inline-block p-3 col-span-2 md:col-span-1 text-center md:text-left
}